body {
    margin: 0;
    
}

#screen {
    aspect-ratio: 16/9;
    display: grid;
    grid-template: 100% / 100%;    
}
@media screen and (max-width: 600px){
  #virusBlue_container img, #virusRed_container img, #virusCorona_container img, #virusGreen_container img, #game_foreground img {
    width: 50px;
    height: 50px;
  }
}

#game {
    grid-area: 1 / 1;   
    display: grid;
    grid-template: 100% / 100%;
}

#game_background {
    display: grid;
    grid-area: 1 /1;
    background-image: url(images/empty2.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#game_elements {
  position: relative;
  overflow: hidden;
  grid-area: 1 /1;
}

/* positioning elements */

#game_foreground {
  position: absolute;
  z-index: 1;
  top: 36%;
  left: 25%;
}
#game_foreground img{
  width: 100%;
}
#virusBlue_container {
    position: absolute; 
}

#virusBlue_sprite {
    width: 100%;   
}

#virusGreen_container {
    position: absolute;
}

#virusGreen_sprite {
    width: 100%;
}

#virusRed_container {
    position: absolute;   
}

#virusRed_sprite {
    width: 100%;
}

#virusCorona_container {
    position: absolute;
}

#virusCorona_sprite {
    width: 100%;
}

#update_container {
    position: absolute;
}
#update_sprite {
    width: 100%;
}
#game_ui{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    position: absolute;
    background-color: aqua;
    right: 1%;
    top: 5%;
    height: 9%;
    width: 40%;
}
#clock_container{
  text-align: center;
}

#score_container{
  text-align: center;
}
#score{
  position: absolute;
  top: 30px;
  right: 59px;
}

#score_container img{
   width: 35%;
}

#health_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#health_container img{
    width: 60%;
}
#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
}


/* Animations start positions and speed */
.fastLeft1 {
    animation-name: fastLeft1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 55%;  
}
@keyframes fastLeft1 {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translate(-100%);
    }
}
.fastLeft2 {
    animation-name: fastLeft2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 65%;
    left: 90%;
}
@keyframes fastLeft2 {
    from {
      transform: translateX(700%);
    }
    to {
      transform: translateX(-300%);
    }
}
.fastLeft3 {
    animation-name: fastLeft3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 70%;
    left: 70%;
}
@keyframes fastLeft3 {
    from {
      transform: translateX(700%);
    }
    to {
      transform: translateX(-300%);
    }
}
.slowLeft1 {
  animation-name: slowLeft1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 55%;
}
@keyframes slowLeft1 {
from {
  transform: translateX(100%);
}
to {
  transform: translateX(-150%);
}
}
.slowLeft2 {
  animation-name: slowLeft2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 65%;
  left: 90%;
}
@keyframes slowLeft2 {
from {
  transform: translateX(100%);
}
to {
  transform: translateX(-150%);
}
}
.slowLeft3 {
  animation-name: slowLeft3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  top: 75%;
  left: 90%;
}
@keyframes slowLeft3 {
from {
  transform: translateX(100%);
}
to {
  transform: translateX(-150%);
}
}
.fastRight1 {
    animation-name: fastRight1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 55%;
}
@keyframes fastRight1 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
}
.fastRight2 {
    animation-name: fastRight2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 65%;
}
@keyframes fastRight2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
}
.fastRight3 {
    animation-name: fastRight3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 75%;
}
@keyframes fastRight3 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
}
.slowRight1 {
    animation-name: slowRight1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 55%;
}
@keyframes slowRight1{
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(150%);
  }
}
.slowRight2 {
    animation-name: slowRight2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 65%;
}
@keyframes slowRight2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(150%);
  }
}
.slowRight3 {
    animation-name: slowRight3;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 75%;
}
@keyframes slowRight3 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(150%);
  }
}
.fastTop1 {
    animation-name: fastTop1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 20%;
}
@keyframes fastTop1 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
.fastTop2 {
    animation-name: fastTop2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 40%;
}
@keyframes fastTop2 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
.fastTop3 {
    animation-name: fastTop3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 60%;
}
@keyframes fastTop3 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
.slowTop1{
    animation-name: slowTop1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 20%;
}
@keyframes slowTop1 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
.slowTop2{
    animation-name: slowTop2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 40%;
  }
@keyframes slowTop2 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
.slowTop3{
    animation-name: slowTop3;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 60%;
}
@keyframes slowTop3 {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

.hidden, #game_over.hidden,
#level_complete.hidden{
    display: none;    
}

.active_windows {
  filter: drop-shadow(0 0 2px yellow);
}
.broken_windows {
   filter: grayscale(75%) blur(.5px);
}
/* animations for CLICK events */
.falling {
    animation-name: falling;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes falling {
    0% {
        transform: translate(0,-100%);
    }

    100% {
        transform: translate(0,56.25vw);
    }
}

.zoom_out {
    animation-name: zoom_out;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes zoom_out {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}

.zoom_in {
    animation-name: zoom_in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    image-rendering: pixelated;
}
@keyframes zoom_in {
    0% {
        transform: scale(1);
    }    
    100% {
        transform: scale(10);
    }
}

.spiral {
    animation-name: spiral;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 150%;
}
@keyframes spiral {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(720deg) scale(0);
    }
}

.beam #yellow_sprite {
  opacity: 1;
  animation-name: beam;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes beam {
  0% {
      transform: scale(0.5) rotate(00deg) translate(0px, 0px);
  }

  100% {
      transform: scale(1) rotate(30deg) translate(20px, 25px);
  }
}
.fallover {
  transform-origin: bottom center;
  animation-name: fallover;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fallover {
  0% {
      transform: rotateX(0);
  }
  100% {
      transform: rotateX(90deg);
  }
}

/* tilt animation */
.tilt {
  transform-origin: bottom left;
  animation-name: tilt;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes tilt {
  0% {
      rotate: 0deg;
  }
  100% {
      rotate: -30deg;
  }
}

.untilt {
  transform-origin: bottom left;
  
  animation-name: tilt;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: backwards;
}

.fade_out {
  animation-name: fade_out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fade_out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* extra animation classes cpy/pste ;)*/
.jump {
  animation-name: jump;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.jump-once {
  animation-name: jump;
  animation-duration: .3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes jump {
  0% {
      translate: 0 0;
  }
  100% {
      translate: 0 -50%;
  }
}

.move-around {
  animation-name: move-around;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes move-around {
  0% {
      translate: 0 0;
      z-index: 0;    
  }

  49.9% {
      z-index: 0;
  }
  50% {
      translate: -600% 0;
      z-index: 1;
  }

  100% {
      translate: 0 0;
      z-index: 1;
  }
}

.move {
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
      translate: -55vw; 
  }
  100% {
      translate: 60vw;
  }
}


  